<style>cc { text-align: justify;} ryu { color: #099FC7; font-weight: bold;} ryu2 { color: #3c0; font-style: italic;}</style>

<style>cc { text-align: justify;} yos { color: #f00; font-weight: bold;} yos2 { color: #ff0; font-style: italic;}</style>

<style>cc { text-align: justify;} rag { color: #B063E0; font-weight: bold;} rag2 { color: #93E063; font-style: italic;}</style>

<style>cc { text-align: justify;} nik { color: #f39f18; font-weight: bold;} nik2 { color: #f09; font-style: italic;}</style>

<style>cc { text-align: justify;} kla { color: #c0c; font-weight: bold;} kla2 { color: #f3f; font-style: italic;}</style>

<style>cc { text-align: justify;} ros { color: #3EF578; font-weight: bold;} ros2 { color: #10F50A; font-style: italic;}</style>

<style>cc { text-align: justify;} shi{ color: #3EF578; font-weight: bold;} shi2{ color: #10F50A; font-style: italic;}</style>

<style>cc { text-align: justify;} aug{ color: #cf0; font-weight: bold;} aug2{ color: #fc0; font-style: italic;}</style>
